<div class="row" id="home">
  
  <div class="span12">
    
    <h1><%= @team.name %>: Daily Quiz</h1>
    
  </div>

  <div class="span8">
    
    <ul>
      
      <li>
        <i class="icon-globe"></i> 
        Today's topic is: <%= @daily_quiz.quiz_definition.category.name %> 
        (Difficulty: <%= @daily_quiz.quiz_definition.difficulty %> / 5)
      </li>
      <li>
        <i class="icon-time"></i>
        <% tomorrow = DateTime.now + 1.days %>
        <% midnight = DateTime.new(tomorrow.year,tomorrow.month,tomorrow.day,0,0,0,tomorrow.zone) %>
        Today's game ends in: <%= distance_of_time_in_words_to_now(midnight) %>
      </li>
      <li>
        <i class="icon-user"></i> 
        <%= pluralize(@daily_quiz.quizzes.count, 'player') %> 
        <%= (@daily_quiz.quizzes.count == 1) ? 'has' : 'have' %>
        played so far
      </li>
    </ul>
    
  </div>
  
  <div class="span4">

    <% if signed_in? %>
      <a href="#" class="btn btn-large btn-block btn-success">Invite your friends!</a>
    <% else %>
      <a href="#login" role="button" data-toggle="modal" class="btn btn-large btn-block btn-success">Invite your friends!</a>
    <% end %>


    <% if signed_in? && current_user.has_played_today? %>
      <div class="well">
        <p class="lead text-info">You've already played today!</p>
      </div>
    <% else %>
        
      <% if signed_in? %>
        <a href="<%= url_for :controller => 'quiz', :action => 'index' %>" class="btn btn-large btn-block btn-primary">Play Now!</a>
      <% else %>
        <a href="#login" role="button" data-toggle="modal" class="btn btn-large btn-block btn-primary">Play Now!</a>
      <% end %>
    
    <% end %>
    
  </div>
  
</div>

<% if !@daily_quiz.quizzes.empty? %>
<div class="row" id="todays-scores">
  
  <div class="span12">
    
    <h1>Today's Scores</h1>
    
    <table class="table table-striped">
      
      <thead>
        
        <tr>
          <th>Player</th>
          <th class="number">Correct</th>
          <th class="number">Time (s)</th>
          <th class="number">Score</th>
        </tr>
        
      </thead>
      <tfoot></tfoot>
      
      <tbody>
        
        <% @daily_quiz.quizzes.each do |quiz| %>
        <tr>
          <td><%= quiz.player.name %></td>
          <td class="number"><%= quiz.correct_answers.count %></td>
          <td class="number"><%= quiz.time %></td>
          <td class="number"><%= quiz.score %></td>
        </tr>
        <% end %>
        
      </tbody>
      
    </table>
    
  </div>
  
</div>
<% else %>
<div class="row">
  <div class="span12">

    <p class="lead">Be the first of your friends to play today!</p>

  </div>
</div>
<% end %>
