<div id="quiz">

    <% @quiz_definition.questions.each_with_index do |question,key| %>
    <div class="row question">
    
      <div class="span12">
        
        <p class="lead"><%= question.question %></p>
        
        <div class="well">

          <ul>
            <li>
              <span class="label label-info">Correct Answer</span>
              <%= question.correct_answer.answer %>
            </li>
            <li>
              <% answer = @quiz.answers[key] %>
              <span class="label label-<%= answer && answer.is_correct? ? 'success' : 'important' %>">Your Answer</span>
              <% if answer && answer.question_option %>
                <%= answer.question_option.answer %>
              <% end %>
            </li>
          </ul>
          
        </div>
          
      </div>
    
    </div>
    <% end %>

    <hr/>

    <div class="well">

      <p class="lead">Your Score</p>
      <p class="lead">
        <%= @quiz.correct_answers.count %> / <%= @quiz_definition.questions.count %>
      </p>

    </div>

</div>
